@inherits LayoutComponentBase

<MudLayout>
    <MudMainContent Class="pt-2">
        <div class="page-container">
            @Body
            <div class="bottom-nav-spacer"></div>
        </div>
    </MudMainContent>
    <BottomNav />
</MudLayout>
